@import "theme";

:host ::ng-deep {
  .ant-table-placeholder {
    border: none;
  }
}

.date-container {
  .today {
    font-size: 24px;
  }

  .today-time {
    position: relative;
    left: 10px;
    color: @text-color;
    opacity: 0.8;
  }

  .add-task {
    margin-top: 12px;

    .add-task-btn {
      cursor: pointer;

      &:hover {
        color: @orange-6;
      }

      [nz-icon] {
        padding-right: 10px;
      }
    }
  }
}

.task-container {
  padding: 18px 24px 24px 24px;
  position: relative;
  top: 24px;

  .task-todo, .task-done {
    i.more-actions {
      font-size: 18px;
    }
  }

  .task-done {
    margin-top: 64px;
  }

}

.form-container {
  .add-form {
    margin-left: 48px;
    padding-top: 24px;

    form {
      nz-form-item {
        margin-bottom: 0px;
      }

      input {
        width: 400px;
      }
    }
  }

  .extra-actions {
    position: relative;
    top: 8px;

    button {
      background-color: @orange-6;
      border-color: @orange-6;
    }

    a {
      margin-left: 16px;
      color: @text-color;

      &:hover {
        border-bottom: 1px solid @border-color-base;
      }
    }
  }
}

[nz-icon] {
  cursor: pointer;
}

nz-divider {
  opacity: 0.75;
}
