<form class="detail-form" nz-form [formGroup]="createForm">
  <nz-form-item>
    <nz-form-label nzSpan="6">
      名稱
    </nz-form-label>
    <nz-form-control nzSpan="17" nzErrorTip="請輸入任務名">
      <input nz-input formControlName="name" placeholder="請輸入任務名"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6">
      描述
    </nz-form-label>
    <nz-form-control nzSpan="17">
      <input nz-input formControlName="description" placeholder="請輸入描述信息，可選填"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6">
      目標時間
    </nz-form-label>
    <nz-form-control nzSpan="17">
      <nz-date-picker
        nzClassName="deadline-date-picker"
        formControlName="deadline"
        nzFormat="MMMMd日 HH:mm"
        [nzShowTime]="{ nzFormat: 'HH:mm' }"
        [nzDisabledDate]="disabledDate"
        nzPlaceHolder="請選擇目標完成時間"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
</form>
<div class="buttons-group">
  <button nz-button nzType="danger" (click)="editTaskData()">修改任務</button>
  <button nz-button nzType="default" (click)="cancelEdit()">取消修改</button>
</div>
