<nz-layout>
  <nz-header>
    <div class="logo header-container">
      <a [routerLink]="['/components', 'demos', 'hacker-news']">
        <img src="../../../../assets/images/hacker-news.gif">
        Hacker News
      </a>
    </div>
    <div class="menu header-container">
      <a>new</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>past</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>comments</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>ask</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>show</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>jobs</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>submit</a>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">

      <nz-list
        [nzDataSource]="listOfNews"
        [nzRenderItem]="item"
        [nzItemLayout]="'vertical'"
        [nzLoading]="loading"
        nzSize="small">
        <ng-template #item let-item>
          <nz-list-item
            nzNoFlex="true"
            [nzContent]="item.story_text ? content : ''"
            [nzActions]="[upAction, hideAction, commentAction]"
          >
            <ng-template #upAction><i nz-icon nzType="like" nzTheme="outline"></i> upvote</ng-template>
            <ng-template #hideAction><i nz-icon nzType="eye-invisible" nzTheme="outline"></i> hide</ng-template>
            <ng-template #commentAction><i nz-icon nzType="message" nzTheme="outline"></i> comment</ng-template>
            <ng-template #content>
              <p [innerHTML]="item.story_text"></p>
            </ng-template>
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzDescription]="nzDescription">
              <ng-template #nzTitle>
                <a [href]="item.url" target="_blank">{{ item.title }} </a>
                <span class="link second-text">
                  <ng-container *ngIf="item.url">(</ng-container>
                  {{item.url | hostParse}}
                  <ng-container *ngIf="item.url">)</ng-container>
                </span>
              </ng-template>
              <ng-template #nzDescription>
                <span>
                  {{item.points}} points by <span class="link">{{item.author}}</span> <span class="link"> {{item.created_at | timeAgo}}</span>
                </span>
                <nz-divider nzType="vertical"></nz-divider>
                <span class="link">
                  hide
                </span>
                <nz-divider nzType="vertical"></nz-divider>
                <span class="link">
                  {{item.num_comments}} comments
                </span>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </nz-content>
  <nz-footer>
    <nz-pagination [nzTotal]="totalCount" [(nzPageIndex)]="currentPage" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getStories()" (nzPageSizeChange)="getStories()" [nzShowTotal]="totalTemplate" nzShowSizeChanger [nzPageSizeOptions]="[10, 20, 30, 50]"></nz-pagination>
    <ng-template #totalTemplate let-total> Total {{ totalRealCount }} news </ng-template>
  </nz-footer>
</nz-layout>
